
@tailwind base;
@tailwind components;
@tailwind utilities;

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: -5rem;
  text-align: center;
}*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* src/index.css */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}


/* src/index.css o toast.css */
.Toastify__toast--success {
  background: #22c55e;
  color: white;
}

.Toastify__toast--error {
  background: #ef4444;
  color: white;
}

/* Modo oscuro personalizado */
.dark .Toastify__toast {
  background: #1f2937;
  color: #f3f4f6;
  border: 1px solid #374151;
}

.dark .Toastify__toast--success {
  background: #15803d;
}

.dark .Toastify__toast--error {
  background: #991b1b;
}